@import '../scss/mixins';

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2000px;
    
    @include large-screens() {
        height: 2800px;
        margin: auto;
    }
    @include tiny-screens() {
       height: 2600px;
    }
    h1 {
        font-weight: bold;
        font-size: 50px;
    }
    span {
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    h1 {
        @include tiny-screens() {
            font-size: 30px;
        }
    }
    span {
        margin-bottom: 50px;
        @include tiny-screens() {
            width: 75%;
            font-size: 15px;
            margin-bottom: 50px;
        }
    }
}

.feature-list-item {
    width: 70%;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    @include large-screens() {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @include tiny-screens() {
        gap: 3rem;
    }
}

.feature-item {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    gap: 3rem;
    img {
        width: 500px;
        height: 200px;
        object-fit: cover;
        margin-right: 30px;
    }
    p {
        width: 80%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        height: 100px;
    }
    @include large-screens() {
        flex-direction: column;
    }

}
