@import '../scss/mixins';

.slide-container-big {
    margin-top: 100px;
    width: 100%;
    height: 70vh;
    margin-bottom: 150px;
    @include medium-screens() {
        height: 30vh;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide-container-small {
    width: 80%;
    background-color: rgb(171, 35, 171);
    padding: 30px;
    border-radius: 30px;

    h1 {
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-align: left;
        margin-left: 15%;
        margin-bottom: 60px;
        margin-top: 50px;

        @include medium-screens() {
            margin-bottom: 20px;
            margin-top: 0px;
            font-size: 20px;
        }
    }

    &-content-img {
        width: 80%;
        margin: auto;

        img {
            object-fit: cover;
        }
    }
}

.carousel {
    text-align: center;
}