.input-type-task {
    padding: 5px;
    font-family: jost;
    margin-right: 10px;
    font-size: 15px;
    color: rgb(218, 106, 226);
    &:focus {
        outline: rgb(0, 255, 55);
    }
}

.btn.add-task {
    background-color: aqua;
    border: none;
    padding: 6px;
    font-family: jost;
    font-size: 15px;
    color: white;
    cursor: pointer;
}